body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.6;
}

a {
  color: #000102; /* Example: blue */
}

a:visited {
  color: #313c47; /* Example: blue */
}

header {
  text-align: center;
  background-color: #dae8ee;
  padding: 50px 0;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif ;
}

section {
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

img {
  width: 40%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px auto;
  font-size: 16px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 12px;
}

label {
  font-size: 16px;
}

input, textarea {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 25px;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: white;
}
